* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 128px;
  color: rgb(57, 122, 76);
  font-family: cursive;
  margin: 10px 0px 10px 0px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#main-nav {
  color: yellow;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  background-color: black;
}
.nav-link {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 24px;
  padding: 20px;
}
.artist {
  color: blueviolet;
  font-size: 48px;
}
.artistv2 {
  color:midnightblue;
  font-size: 56px;
}
#artist-profile {
  width: 50%;
  margin: 0px auto;
  border: 1px solid black;
  padding: 0px 20px;
}
#sub-head {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  margin-top: -30px;
}

#helpful-links {
  width: 50%;
  margin: 0px auto;
  border: 1px solid black;
  padding: 0px 20px;
}

img {
  border-radius: 30px;
  
}

